<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Item List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Item List</h1>
        <a class="material-button" href="/items/new">Create New Item</a>
        <table class="highlight">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.name}"></td>
                    <td th:text="${item.description}"></td>
                    <td>
                        <a class="material-button" th:href="@{/items/{id}/edit(id=${item.id})}">Edit</a>
                        <a class="material-button red" th:href="@{/items/{id}/delete(id=${item.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
